<%= form_for user, url: { action: action } do |f| %>
  <div class='field'>
    <%= f.label :email %>
    <br/>
    <%= f.email_field :email, required: true, maxlength: 255 %>
  </div>
  <div class='field'>
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name, required: true, maxlength: 255 %>
  </div>
  <% if can? :set_role, user %>
    <%= f.label :role %>
    <%= f.select :role, options_for_select(User.roles, user[:role]) %>
  <% end %>
  <%= f.submit action %>
<% end %>
